// Common

html {
  font-size: 18px;
}

body {
  background: $wdiet-red-darkest url('../public/images/bg.jpg') repeat;
  font-family: $font-copy;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-title;
  text-transform: uppercase;
  color: #373a3c;

  &.title {
    background: $wdiet-gold url('../public/images/asfalt-dark.png') repeat center center;
    padding: 20px 40px;
    margin: 0;
    border: 5px solid $wdiet-orange;
    border-left: none;
    border-right: none;
  }

  a {
    color: #373a3c;

    &:hover {
      color: #373a3c;
      text-decoration: none;
    }
  }
}

img {
  max-width: 100%;
}

img.loader {
  width: 120px;
  height: 120px;
  margin: 30px auto;
  display: block;
}

main.content {
  background-color: $wdiet-contentbg;
  padding: 40px;
}

.page {
  border: 2px solid $wdiet-red-darkest;
  border-radius: 0.25rem;
  overflow: hidden;
}