// Header

header.branding {
  margin: 30px auto;
  color: $wdiet-contentbg;
  font-size: .85rem;

  @include media-breakpoint-up(lg) {
    font-size: 1rem;
  }

  h3 {
    font-size: 1rem;
    color: $wdiet-contentbg;

    @include media-breakpoint-up(lg) {
      font-size: 1.25rem;
    }

    @include media-breakpoint-up(xl) {
      font-size: 1.34rem;
      margin-top: 16px;
    }
  }
}

// Nav

nav.navbar {
  background: $wdiet-red-darker url('../public/images/asfalt-dark.png') repeat center center;
  padding: 0 20px;
  margin: 0 0 30px;
  border: 2px solid $wdiet-red-darkest;
  border-radius: 0.13rem;

  a.nav-link {
    color: $wdiet-contentbg;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;

    &.active, &:hover {
      background-color: $wdiet-red-darkest;
    }
  }
}