// List

post.card {
  background-color: $wdiet-contentbg;
  margin-bottom: 30px;
  border: 2px solid $wdiet-red-darkest;

  .card-img-top {
    border-radius: 0.13rem 0.13rem 0 0;
  }

  main.content {
    padding: 30px;

    h2 {
      margin: -30px -30px 30px;
    }
  }

  aside.map {
    padding: 0;
    border-top: 5px solid #E2861E;
    background-color: $wdiet-red-lightest;

    iframe {
      display: block;
    }
  }
}

.card-columns {
  @include media-breakpoint-up(xs) {
    column-count: 1;
  }
  @include media-breakpoint-up(md) {
    column-count: 2;
  }
}