// Variables

$wdiet-red-darkest:  #400D00;
$wdiet-red-darker:   #580800;
$wdiet-red-medium:   #730C00;
$wdiet-red-lighter:  #8E1001;
$wdiet-red-lightest: #9A1507;

$font-copy: "museo-slab",serif;
$font-title: "futura-pt-condensed",sans-serif;