<div class="page">
  <h1 class="title">About Why Did I Eat This?</h1>

  <main class="content">
    <p>We were born and raised in Phoenix, and we love it.  The Mexican food is incredible, the fast food variety is plentiful, and the upscale dining is acceptable.  But what of the wings?  Where the hell are the hot wing spots that we can eat at and then turn and brag back to our friends across the country that, yes, Phoenix holds its own regarding wings?  And for that matter, is there anyone else that loves eating wings as much as us?</p>

    <h2>Xavvi</h2>

    <p>A man with a liver of steel or adamantium or some sort of composite of the two that hasn’t yet been found, Xavvi is definitely the more brash of the two wing-lovers.  He can’t claim to be a professional writer, but few would argue if he claimed the title of Professional Drinker.  Xavvi is the original Sexican, a Mexi-Man of immense charm and loveliness.  He also enjoys candlelight dinners and beating Tyler in WWF No Mercy.</p>

    <h2>Tyler</h2>

    <p>Tyler is a hot sauce and spicy food aficionado. He tends to have more guts than brains when someone says something is too hot. He hasn’t come across much that can phase him although we aim to keep challenging that with the spiciest wings we can find. Being your average fat sports fan, he has enjoyed his fair share of wings in sports bars but his perceptions have changed by the quality (or not) of wings at the variety of places we have visited around the valley. He also remains undefeated against Xavvi in WWF No Mercy. Fact.</p>
  </main>
</div>
